n8n-gumroad-welcome-workflow.json
{
  "id": "2pafgxsVIs1E9RNQ",
  "name": "Execution Engine — Gumroad Purchase Welcome Email",
  "active": false,
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Gumroad Sale Ping",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "gumroad-sale",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [460, 200],
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK"
      }
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Extract Buyer Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 400],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "d1e2f3a4-b5c6-7890-abcd-ef1234567890",
              "name": "buyerEmail",
              "value": "={{$json.body.email}}",
              "type": "string"
            },
            {
              "id": "e2f3a4b5-c6d7-8901-bcde-f12345678901",
              "name": "productName",
              "value": "={{$json.body.product_name}}",
              "type": "string"
            },
            {
              "id": "f3a4b5c6-d7e8-9012-cdef-123456789012",
              "name": "orderNumber",
              "value": "={{$json.body.order_number}}",
              "type": "string"
            },
            {
              "id": "a4b5c6d7-e8f9-0123-defa-234567890123",
              "name": "licenseKey",
              "value": "={{$json.body.license_key}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "d4e5f6a7-b8c9-0123-efab-345678901234",
      "name": "Send Welcome Email via Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [680, 400],
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"from\": \"Jelle Spek <support@jellespek.nl>\", \"to\": [\"{{$json.buyerEmail}}\"], \"subject\": \"Your Execution Engine AM Bundle \u2014 Start Here\", \"html\": \"<div style='font-family:Georgia,serif;max-width:600px;margin:0 auto;padding:32px 24px;color:#1a1a1a;line-height:1.6'><h1 style='font-size:24px;margin-bottom:8px'>Welcome to Execution Engine</h1><p>You have everything you need to go from zero to your first Telegram check-in in 30 minutes.</p><h2 style='font-size:18px;margin-top:32px'>Start Here - Your Checklist</h2><ol style='padding-left:20px'><li>Open <strong>README.md</strong> in your bundle</li><li>Install prerequisites: n8n, Telegram, Obsidian, Ollama, PostgreSQL</li><li>Follow the 7-step setup guide from top to bottom</li><li>Activate your workflows in n8n</li><li>Send <strong>/start</strong> to your Telegram bot</li></ol><p style='margin-top:24px;padding:16px;background:#f5f5f0;border-radius:4px'>Your bundle download link is in your Gumroad receipt email. Cant find it? Visit <a href='https://app.gumroad.com/library' style='color:#1D4ED8'>app.gumroad.com/library</a></p><p>Questions? Email <a href='mailto:support@jellespek.nl' style='color:#1D4ED8'>support@jellespek.nl</a> - I reply within 24 hours.</p><p style='margin-top:32px'>- Jelle</p></div>\"}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Gumroad Sale Ping": {
      "main": [
        [
          {"node": "Respond 200 OK", "type": "main", "index": 0},
          {"node": "Extract Buyer Data", "type": "main", "index": 0}
        ]
      ]
    },
    "Extract Buyer Data": {
      "main": [
        [
          {"node": "Send Welcome Email via Resend", "type": "main", "index": 0}
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
