n8n/workflows/cron-accountability-checkin.json
{"id": "checkin-cron-002", "name": "EE \u2014 Accountability Check-in Cron (17:00)", "active": true, "nodes": [{"id": "b0000002-0000-0000-0000-000000000001", "name": "Schedule Trigger", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.1, "position": [240, 300], "parameters": {"rule": {"interval": [{"field": "cronExpression", "expression": "0 17 * * *"}]}, "timezone": "Europe/Amsterdam"}}, {"id": "b0000002-0000-0000-0000-000000000002", "name": "Get Active Tenants", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [460, 300], "parameters": {"method": "GET", "url": "={{ $('Config').first().json.SUPABASE_URL }}/rest/v1/tenants?is_active=eq.true&select=*", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $('Config').first().json.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $('Config').first().json.SUPABASE_SERVICE_ROLE_KEY }}"}]}, "options": {}}}, {"id": "b0000002-0000-0000-0000-000000000003", "name": "Loop Over Tenants", "type": "n8n-nodes-base.splitInBatches", "typeVersion": 3, "position": [680, 300], "parameters": {"batchSize": 1, "options": {}}}, {"id": "b0000002-0000-0000-0000-000000000004", "name": "Get Today Daily Priorities", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [900, 300], "parameters": {"method": "GET", "url": "={{ $('Config').first().json.SUPABASE_URL }}/rest/v1/daily_priorities?tenant_id=eq.{{ $json.id }}&date=eq.{{ $now.toFormat('yyyy-MM-dd') }}&select=*", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $('Config').first().json.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $('Config').first().json.SUPABASE_SERVICE_ROLE_KEY }}"}]}, "options": {}}}, {"id": "b0000002-0000-0000-0000-000000000005", "name": "Has Today Priorities?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1120, 300], "parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "check-row-exists", "leftValue": "={{ $json.id }}", "rightValue": "", "operator": {"type": "string", "operation": "notEmpty"}}], "combinator": "and"}, "options": {}}}, {"id": "b0000002-0000-0000-0000-000000000006", "name": "Build Check-in Message", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1340, 200], "parameters": {"jsCode": "const prioritiesRow = $input.first().json;\nconst tenant = $('Loop Over Tenants').item.json;\n\nconst priorities = prioritiesRow.priorities || [];\n\nlet msg = 'Time to check in.\\n\\nDid you complete today\\'s priorities?\\n\\n';\npriorities.forEach((p, i) => {\n  msg += `${i+1}. ${p.text}\\n`;\n});\nmsg += '\\nReply with the numbers you completed (e.g. \\'1 3\\') or \\'all\\' / \\'none\\'.';\n\nreturn [{\n  json: {\n    tenant_id: tenant.id,\n    tenant_chat_id: tenant.telegram_chat_id,\n    check_in_message: msg,\n    priorities_row_id: prioritiesRow.id,\n    today: new Date().toISOString().split('T')[0]\n  }\n}];"}}, {"id": "b0000002-0000-0000-0000-000000000007", "name": "Send Check-in Telegram", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [1560, 200], "parameters": {"method": "POST", "url": "=https://api.telegram.org/bot{{ $('Config').first().json.TELEGRAM_BOT_TOKEN }}/sendMessage", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "contentType": "json", "specifyBody": "json", "jsonBody": "={\n  \"chat_id\": {{ $json.tenant_chat_id }},\n  \"text\": \"{{ $json.check_in_message.replace(/\"/g, '\\\\\"') }}\"\n}", "options": {}}}, {"id": "b0000002-0000-0000-0000-000000000008", "name": "Update Checkin Sent At", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [1780, 200], "parameters": {"method": "PATCH", "url": "={{ $('Config').first().json.SUPABASE_URL }}/rest/v1/daily_priorities?tenant_id=eq.{{ $('Build Check-in Message').item.json.tenant_id }}&date=eq.{{ $('Build Check-in Message').item.json.today }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $('Config').first().json.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $('Config').first().json.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "contentType": "json", "specifyBody": "json", "jsonBody": "={\n  \"checkin_sent_at\": \"{{ $now.toISO() }}\"\n}", "options": {}}}, {"id": "b0000002-0000-0000-0000-000000000009", "name": "Skip \u2014 No Briefing Today", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [1340, 420], "parameters": {}}, {"id": "b0000002-0000-0000-0000-000000000010", "name": "Continue Loop", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [2000, 300], "parameters": {}}, {"id": "cfg0000000-0000-0000-0000-000000000003", "name": "Config", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [460, 300], "parameters": {"mode": "manual", "includeOtherFields": true, "fields": {"values": [{"name": "SUPABASE_URL", "type": "stringValue", "string": "https://supabase-execution-engine.jellespek.nl"}, {"name": "SUPABASE_SERVICE_ROLE_KEY", "type": "stringValue", "string": "YOUR_SUPABASE_SERVICE_ROLE_KEY"}, {"name": "TELEGRAM_BOT_TOKEN", "type": "stringValue", "string": "YOUR_TELEGRAM_BOT_TOKEN"}]}}}], "connections": {"Schedule Trigger": {"main": [[{"node": "Config", "type": "main", "index": 0}]]}, "Get Active Tenants": {"main": [[{"node": "Loop Over Tenants", "type": "main", "index": 0}]]}, "Loop Over Tenants": {"main": [[{"node": "Get Today Daily Priorities", "type": "main", "index": 0}]]}, "Get Today Daily Priorities": {"main": [[{"node": "Has Today Priorities?", "type": "main", "index": 0}]]}, "Has Today Priorities?": {"main": [[{"node": "Build Check-in Message", "type": "main", "index": 0}], [{"node": "Skip \u2014 No Briefing Today", "type": "main", "index": 0}]]}, "Build Check-in Message": {"main": [[{"node": "Send Check-in Telegram", "type": "main", "index": 0}]]}, "Send Check-in Telegram": {"main": [[{"node": "Update Checkin Sent At", "type": "main", "index": 0}]]}, "Update Checkin Sent At": {"main": [[{"node": "Continue Loop", "type": "main", "index": 0}]]}, "Skip \u2014 No Briefing Today": {"main": [[{"node": "Continue Loop", "type": "main", "index": 0}]]}, "Continue Loop": {"main": [[{"node": "Loop Over Tenants", "type": "main", "index": 0}]]}, "Config": {"main": [[{"node": "Get Active Tenants", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "saveDataErrorExecution": "all", "saveDataSuccessExecution": "none", "callerPolicy": "workflowsFromSameOwner", "errorWorkflow": ""}, "staticData": null, "pinData": {}}