n8n/workflows/cron-weekly-review.json
{
  "id": "weekly-review-cron-003",
  "name": "EE — Weekly Review Cron (Sunday 18:00)",
  "active": true,
  "nodes": [
    {
      "id": "c0000003-0000-0000-0000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * 0"
            }
          ]
        },
        "timezone": "Europe/Amsterdam"
      }
    },
    {
      "id": "c0000003-0000-0000-0000-000000000002",
      "name": "Get Active Tenants",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/tenants?is_active=eq.true&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c0000003-0000-0000-0000-000000000003",
      "name": "Loop Over Tenants",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "c0000003-0000-0000-0000-000000000004",
      "name": "Calculate Week Boundaries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "jsCode": "const tenant = $input.first().json;\nconst now = new Date();\n// We're on Sunday (day 0). Week started last Monday (6 days ago).\nconst monday = new Date(now);\nmonday.setDate(now.getDate() - 6);\nconst week_start = monday.toISOString().split('T')[0];\nconst week_end = now.toISOString().split('T')[0]; // today = Sunday\n\nreturn [{\n  json: {\n    tenant_id: tenant.id,\n    tenant_chat_id: tenant.telegram_chat_id,\n    persona_name: tenant.persona_name || 'Coach',\n    tone: tenant.tone || 'direct',\n    week_start,\n    week_end\n  }\n}];"
      }
    },
    {
      "id": "c0000003-0000-0000-0000-000000000005",
      "name": "Get This Week Daily Priorities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1120, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/daily_priorities?tenant_id=eq.{{ $json.tenant_id }}&date=gte.{{ $json.week_start }}&date=lte.{{ $json.week_end }}&select=date,priorities,execution_score",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c0000003-0000-0000-0000-000000000006",
      "name": "Get Last 3 Weekly Reviews",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1340, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/weekly_reviews?tenant_id=eq.{{ $('Calculate Week Boundaries').item.json.tenant_id }}&order=week_start.desc&limit=3&select=week_start,execution_score,pattern_observation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c0000003-0000-0000-0000-000000000007",
      "name": "Calculate Weekly Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300],
      "parameters": {
        "jsCode": "const weekBoundaries = $('Calculate Week Boundaries').item.json;\n// Get all days from the HTTP request — may be array of items\nconst dailyItems = $('Get This Week Daily Priorities').all();\nconst days = dailyItems.map(i => i.json);\n\nconst previousReviews = $('Get Last 3 Weekly Reviews').all().map(i => i.json);\n\nconst daysWithScore = days.filter(d => d.execution_score !== null && d.execution_score !== undefined);\nconst weeklyScore = daysWithScore.length > 0\n  ? daysWithScore.reduce((sum, d) => sum + d.execution_score, 0) / daysWithScore.length\n  : null;\n\n// Identify worst days (score < 50%)\nconst worstDays = days\n  .filter(d => d.execution_score !== null && d.execution_score < 50)\n  .map(d => ({\n    date: d.date,\n    score: d.execution_score,\n    day: new Date(d.date + 'T12:00:00Z').toLocaleDateString('en-US', { weekday: 'long' })\n  }));\n\n// Build summary of daily priorities for Claude context\nconst dailySummary = days.map(d => {\n  const completed = d.priorities ? d.priorities.filter(p => p.completed === true).length : 0;\n  const total = d.priorities ? d.priorities.length : 0;\n  const dayName = new Date(d.date + 'T12:00:00Z').toLocaleDateString('en-US', { weekday: 'short' });\n  return `${dayName} ${d.date}: ${completed}/${total} completed (${d.execution_score !== null ? Math.round(d.execution_score) + '%' : 'no check-in'})`;\n}).join('\\n');\n\n// Previous review context\nconst prevReviewText = previousReviews.length > 0\n  ? previousReviews.map(r => `Week of ${r.week_start}: ${r.execution_score !== null ? Math.round(r.execution_score) + '%' : 'N/A'} — ${r.pattern_observation || ''}`).join('\\n')\n  : 'No previous weekly reviews.';\n\nreturn [{\n  json: {\n    tenant_id: weekBoundaries.tenant_id,\n    tenant_chat_id: weekBoundaries.tenant_chat_id,\n    persona_name: weekBoundaries.persona_name,\n    tone: weekBoundaries.tone,\n    week_start: weekBoundaries.week_start,\n    week_end: weekBoundaries.week_end,\n    weeklyScore,\n    worstDays,\n    daysWithScore: daysWithScore.length,\n    totalDays: days.length,\n    dailySummary,\n    prevReviewText\n  }\n}];"
      }
    },
    {
      "id": "c0000003-0000-0000-0000-000000000008",
      "name": "Claude — Generate Pattern Observation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1780, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5\",\n  \"max_tokens\": 256,\n  \"system\": \"You are {{ $json.persona_name }} with {{ $json.tone }} tone. Analyze this week's execution data and write a pattern observation.\\nRules:\\n- One paragraph, 2-3 sentences max\\n- If a specific day was consistently low, name it: 'Wednesday was your worst day for 3 weeks running'\\n- Reference specific priorities that went uncompleted if visible\\n- Do NOT list raw numbers — give a narrative insight\\n- Tone styles: direct = call it out plainly, warm = acknowledge effort + pattern, professional = factual observation\",\n  \"messages\": [\n    {\"role\": \"user\", \"content\": \"This week's daily execution:\\n{{ $json.dailySummary }}\\n\\nPrevious reviews for pattern context:\\n{{ $json.prevReviewText }}\\n\\nOverall weekly score: {{ $json.weeklyScore !== null ? Math.round($json.weeklyScore) + '%' : 'No data' }}\"}\n  ]\n}",
        "options": {}
      }
    },
    {
      "id": "c0000003-0000-0000-0000-000000000009",
      "name": "Upsert Weekly Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2000, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/weekly_reviews",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"{{ $('Calculate Weekly Score').item.json.tenant_id }}\",\n  \"week_start\": \"{{ $('Calculate Weekly Score').item.json.week_start }}\",\n  \"execution_score\": {{ $('Calculate Weekly Score').item.json.weeklyScore !== null ? Math.round($('Calculate Weekly Score').item.json.weeklyScore) : 'null' }},\n  \"pattern_observation\": \"{{ $json.content[0].text.replace(/\"/g, '\\\\\"') }}\",\n  \"raw_data\": {\n    \"days_with_score\": {{ $('Calculate Weekly Score').item.json.daysWithScore }},\n    \"total_days\": {{ $('Calculate Weekly Score').item.json.totalDays }},\n    \"daily_summary\": \"{{ $('Calculate Weekly Score').item.json.dailySummary.replace(/\"/g, '\\\\\"') }}\"\n  }\n}",
        "options": {}
      }
    },
    {
      "id": "c0000003-0000-0000-0000-000000000010",
      "name": "Build Weekly Review Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 300],
      "parameters": {
        "jsCode": "const weekData = $('Calculate Weekly Score').item.json;\nconst claudeResponse = $('Claude — Generate Pattern Observation').item.json;\nconst patternText = claudeResponse.content[0].text;\n\nconst score = weekData.weeklyScore;\nlet scoreLabel, scoreDisplay;\n\nif (score === null) {\n  scoreDisplay = 'No data yet';\n  scoreLabel = 'No check-ins recorded this week.';\n} else {\n  const rounded = Math.round(score);\n  scoreDisplay = `${rounded}%`;\n  if (rounded >= 70) {\n    scoreLabel = 'Strong week.';\n  } else if (rounded >= 50) {\n    scoreLabel = 'Decent week.';\n  } else {\n    scoreLabel = 'Below target.';\n  }\n}\n\nconst msg = `Weekly Review — ${weekData.week_start}\\n\\n` +\n  `Execution Score: *${scoreDisplay}* — ${scoreLabel}\\n\\n` +\n  `${patternText}\\n\\n` +\n  `New week starts tomorrow. What's the most important thing to do differently?`;\n\nreturn [{\n  json: {\n    tenant_id: weekData.tenant_id,\n    tenant_chat_id: weekData.tenant_chat_id,\n    message: msg,\n    pattern_text: patternText\n  }\n}];"
      }
    },
    {
      "id": "c0000003-0000-0000-0000-000000000011",
      "name": "Send Telegram Weekly Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2440, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.tenant_chat_id }},\n  \"text\": \"{{ $json.message.replace(/\"/g, '\\\\\"') }}\",\n  \"parse_mode\": \"Markdown\"\n}",
        "options": {}
      }
    },
    {
      "id": "c0000003-0000-0000-0000-000000000012",
      "name": "Save Review to Conversations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2660, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"{{ $('Build Weekly Review Message').item.json.tenant_id }}\",\n  \"role\": \"assistant\",\n  \"content\": \"{{ $('Build Weekly Review Message').item.json.message.replace(/\"/g, '\\\\\"') }}\"\n}",
        "options": {}
      }
    },
    {
      "id": "c0000003-0000-0000-0000-000000000013",
      "name": "Continue Loop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2880, 300],
      "parameters": {}
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          { "node": "Get Active Tenants", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Active Tenants": {
      "main": [
        [
          { "node": "Loop Over Tenants", "type": "main", "index": 0 }
        ]
      ]
    },
    "Loop Over Tenants": {
      "main": [
        [
          { "node": "Calculate Week Boundaries", "type": "main", "index": 0 }
        ]
      ]
    },
    "Calculate Week Boundaries": {
      "main": [
        [
          { "node": "Get This Week Daily Priorities", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get This Week Daily Priorities": {
      "main": [
        [
          { "node": "Get Last 3 Weekly Reviews", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Last 3 Weekly Reviews": {
      "main": [
        [
          { "node": "Calculate Weekly Score", "type": "main", "index": 0 }
        ]
      ]
    },
    "Calculate Weekly Score": {
      "main": [
        [
          { "node": "Claude — Generate Pattern Observation", "type": "main", "index": 0 }
        ]
      ]
    },
    "Claude — Generate Pattern Observation": {
      "main": [
        [
          { "node": "Upsert Weekly Review", "type": "main", "index": 0 }
        ]
      ]
    },
    "Upsert Weekly Review": {
      "main": [
        [
          { "node": "Build Weekly Review Message", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Weekly Review Message": {
      "main": [
        [
          { "node": "Send Telegram Weekly Review", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Telegram Weekly Review": {
      "main": [
        [
          { "node": "Save Review to Conversations", "type": "main", "index": 0 }
        ]
      ]
    },
    "Save Review to Conversations": {
      "main": [
        [
          { "node": "Continue Loop", "type": "main", "index": 0 }
        ]
      ]
    },
    "Continue Loop": {
      "main": [
        [
          { "node": "Loop Over Tenants", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "pinData": {}
}
