n8n/workflows/cron-morning-briefing.json
{
  "id": "morning-briefing-cron-001",
  "name": "EE — Morning Briefing Cron (07:00)",
  "active": true,
  "nodes": [
    {
      "id": "a0000001-0000-0000-0000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        },
        "timezone": "Europe/Amsterdam"
      }
    },
    {
      "id": "a0000001-0000-0000-0000-000000000002",
      "name": "Get Active Tenants",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/tenants?is_active=eq.true&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a0000001-0000-0000-0000-000000000003",
      "name": "Loop Over Tenants",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "a0000001-0000-0000-0000-000000000004",
      "name": "Get Active Goals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [900, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/goals?tenant_id=eq.{{ $json.id }}&status=eq.active&select=id,title,deadline,progress_pct",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a0000001-0000-0000-0000-000000000005",
      "name": "Get Yesterday Priorities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1120, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/daily_priorities?tenant_id=eq.{{ $('Loop Over Tenants').item.json.id }}&date=eq.{{ $now.minus({days: 1}).toFormat('yyyy-MM-dd') }}&select=priorities,execution_score",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a0000001-0000-0000-0000-000000000006",
      "name": "Build Claude Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300],
      "parameters": {
        "jsCode": "const tenant = $('Loop Over Tenants').item.json;\nconst goals = $('Get Active Goals').all().map(i => i.json);\nconst yesterdayData = $('Get Yesterday Priorities').all();\nconst yesterday = yesterdayData.length > 0 ? yesterdayData[0].json : null;\n\nconst goalsText = goals.length > 0\n  ? goals.map((g, i) => `${i+1}. ${g.title}${g.deadline ? ' (deadline: ' + g.deadline + ')' : ''}${g.progress_pct ? ' — ' + g.progress_pct + '% done' : ''}`).join('\\n')\n  : 'No active goals set yet.';\n\nlet yesterdayText = '';\nif (yesterday && yesterday.execution_score !== null) {\n  const score = Math.round(yesterday.execution_score);\n  const total = yesterday.priorities ? yesterday.priorities.length : 0;\n  const completed = yesterday.priorities ? yesterday.priorities.filter(p => p.completed === true).length : 0;\n  yesterdayText = `Yesterday: ${completed}/${total} completed (${score}%).`;\n}\n\nconst systemPrompt = `You are ${tenant.persona_name || 'Coach'}, an accountability coach with ${tenant.tone || 'direct'} tone.\nGenerate a morning briefing. Format:\n- Start with \"Good morning.\" (no fluff)\n- \"Three things matter today:\" followed by exactly 3 numbered priorities selected from the active goals listed\n- Each priority: \"[Priority text] — [one-line why it matters to the goal]\"\n- Yesterday reflection (if data available): \"Yesterday: X/Y completed (Z%).\"\n- End: \"Anything to add before you start?\"\n- Total: 5-8 lines max\n\nTone styles:\n- direct: Blunt, no fluff\n- warm: Encouraging, personal\n- professional: Neutral, structured`;\n\nconst userMessage = `Active goals:\\n${goalsText}\\n\\n${yesterdayText ? 'Yesterday data: ' + yesterdayText : 'No yesterday data available.'}`;\n\nreturn [{\n  json: {\n    tenant_id: tenant.id,\n    tenant_chat_id: tenant.telegram_chat_id,\n    persona_name: tenant.persona_name || 'Coach',\n    tone: tenant.tone || 'direct',\n    system_prompt: systemPrompt,\n    user_message: userMessage,\n    goals: goals,\n    yesterday_score: yesterday ? yesterday.execution_score : null,\n    today: new Date().toISOString().split('T')[0]\n  }\n}];"
      }
    },
    {
      "id": "a0000001-0000-0000-0000-000000000007",
      "name": "Claude — Generate Briefing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1560, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5\",\n  \"max_tokens\": 512,\n  \"system\": \"{{ $json.system_prompt }}\",\n  \"messages\": [\n    {\"role\": \"user\", \"content\": \"{{ $json.user_message }}\"}\n  ]\n}",
        "options": {}
      }
    },
    {
      "id": "a0000001-0000-0000-0000-000000000008",
      "name": "Parse Briefing + Extract Priorities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300],
      "parameters": {
        "jsCode": "const claudeResponse = $input.first().json;\nconst briefingText = claudeResponse.content[0].text;\n\nconst buildData = $('Build Claude Request').item.json;\nconst goals = buildData.goals;\n\n// Parse the numbered priorities from Claude's text (lines like \"1. [text] — [reason]\")\nconst priorityLines = briefingText.match(/^\\d+\\.\\s+.+$/gm) || [];\nconst priorities = priorityLines.slice(0, 3).map((line, i) => {\n  const text = line.replace(/^\\d+\\.\\s+/, '').trim();\n  // Try to match goal_id if text contains goal title substring\n  let goal_id = null;\n  if (goals && goals.length > 0) {\n    const matched = goals.find(g => text.toLowerCase().includes(g.title.toLowerCase().substring(0, 15)));\n    if (matched) goal_id = matched.id;\n  }\n  return { text, goal_id, completed: null };\n});\n\n// Pad to 3 priorities if Claude returned fewer\nwhile (priorities.length < 3) {\n  const fallbackGoal = goals[priorities.length] || null;\n  priorities.push({\n    text: fallbackGoal ? fallbackGoal.title : `Priority ${priorities.length + 1}`,\n    goal_id: fallbackGoal ? fallbackGoal.id : null,\n    completed: null\n  });\n}\n\nreturn [{\n  json: {\n    tenant_id: buildData.tenant_id,\n    tenant_chat_id: buildData.tenant_chat_id,\n    briefing_text: briefingText,\n    priorities: priorities,\n    today: buildData.today\n  }\n}];"
      }
    },
    {
      "id": "a0000001-0000-0000-0000-000000000009",
      "name": "Upsert Daily Priorities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2000, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/daily_priorities",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"{{ $json.tenant_id }}\",\n  \"date\": \"{{ $json.today }}\",\n  \"priorities\": {{ JSON.stringify($json.priorities) }},\n  \"briefing_sent_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      }
    },
    {
      "id": "a0000001-0000-0000-0000-000000000010",
      "name": "Send Telegram Briefing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2220, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $('Parse Briefing + Extract Priorities').item.json.tenant_chat_id }},\n  \"text\": \"{{ $('Parse Briefing + Extract Priorities').item.json.briefing_text.replace(/\"/g, '\\\\\"') }}\",\n  \"parse_mode\": \"Markdown\"\n}",
        "options": {}
      }
    },
    {
      "id": "a0000001-0000-0000-0000-000000000011",
      "name": "Save Briefing to Conversations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2440, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"{{ $('Parse Briefing + Extract Priorities').item.json.tenant_id }}\",\n  \"role\": \"assistant\",\n  \"content\": \"{{ $('Parse Briefing + Extract Priorities').item.json.briefing_text.replace(/\"/g, '\\\\\"') }}\"\n}",
        "options": {}
      }
    },
    {
      "id": "a0000001-0000-0000-0000-000000000012",
      "name": "Error Handler",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2220, 500],
      "parameters": {}
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          { "node": "Get Active Tenants", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Active Tenants": {
      "main": [
        [
          { "node": "Loop Over Tenants", "type": "main", "index": 0 }
        ]
      ]
    },
    "Loop Over Tenants": {
      "main": [
        [
          { "node": "Get Active Goals", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Active Goals": {
      "main": [
        [
          { "node": "Get Yesterday Priorities", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Yesterday Priorities": {
      "main": [
        [
          { "node": "Build Claude Request", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Claude Request": {
      "main": [
        [
          { "node": "Claude — Generate Briefing", "type": "main", "index": 0 }
        ]
      ]
    },
    "Claude — Generate Briefing": {
      "main": [
        [
          { "node": "Parse Briefing + Extract Priorities", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse Briefing + Extract Priorities": {
      "main": [
        [
          { "node": "Upsert Daily Priorities", "type": "main", "index": 0 }
        ]
      ]
    },
    "Upsert Daily Priorities": {
      "main": [
        [
          { "node": "Send Telegram Briefing", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Telegram Briefing": {
      "main": [
        [
          { "node": "Save Briefing to Conversations", "type": "main", "index": 0 }
        ]
      ]
    },
    "Save Briefing to Conversations": {
      "main": [
        [
          { "node": "Loop Over Tenants", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "pinData": {}
}
