n8n/workflows/telegram-bot-agent.json
{
  "id": "telegram-bot-agent-001",
  "name": "EE Telegram Bot Agent",
  "active": true,
  "nodes": [
    {
      "id": "b0000001-0000-0000-0000-000000000001",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "telegram-bot",
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-bot",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000002",
      "name": "Respond 200 Immediately",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 180],
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000003",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 420],
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst message = body.message || body.edited_message;\nconst chat_id = message?.chat?.id;\nconst text = message?.text || '';\nconst message_id = message?.message_id;\nreturn [{ json: { chat_id, text, message_id, raw: body } }];"
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000004",
      "name": "Lookup Tenant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [680, 420],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/tenants?telegram_chat_id=eq.{{ $json.chat_id }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000005",
      "name": "Tenant Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 420],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-tenant-exists",
              "leftValue": "={{ $json[0]?.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000006",
      "name": "Get Conversation History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1120, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations?tenant_id=eq.{{ $json.tenant?.id }}&order=created_at.desc&limit=20&select=role,content",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000007",
      "name": "Build Claude Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300],
      "parameters": {
        "jsCode": "const tenantLookupItems = $('Lookup Tenant').all();\nconst tenant = tenantLookupItems[0]?.json;\nconst chat_id = $('Extract Message Data').item.json.chat_id;\nconst userText = $('Extract Message Data').item.json.text;\n\nconst toneDescriptions = {\n  direct: 'direct (Alex Hormozi-style — blunt, no fluff)',\n  warm: 'warm (encouraging, personal, supportive)',\n  professional: 'professional (neutral, structured, data-focused)'\n};\nconst toneDesc = toneDescriptions[tenant.tone] || tenant.tone || 'direct';\n\nconst systemPrompt = `You are ${tenant.persona_name || 'Coach'}, an AI accountability coach. Your tone is ${toneDesc}.\\n\\nTone styles:\\n- direct: Alex Hormozi-style. Blunt, no fluff. Call out missed commitments plainly.\\n- warm: Encouraging, personal, supportive. Celebrate wins.\\n- professional: Neutral, structured. Data-focused.\\n\\nYour job: Help the user manage their 12-week goals, track daily execution, and stay accountable.\\n\\nDuring free-form chat: interpret as a goal/memory/progress action. Confirm the action, execute it, then get out of the way. Do not ramble.\\n\\nWhen user misses a commitment or reports low execution (direct tone): \"You said you'd do X. You didn't. What's the plan tomorrow?\"\\n\\n## Tool Rules\\n\\nFor update/delete actions on goals: ALWAYS call get_goals_overview first to find the goal_id, then call manage_goal with the resolved UUID.\\nWhen marking a goal completed: call manage_goal(action: update, status: completed) AND log_progress(log_type: status_change).\\nFor vague progress updates: call log_progress(log_type: note).\\nWhen showing goals: format as numbered list with progress percentage — never return raw JSON.`;\n\nconst historyItems = $input.all();\nconst history = historyItems\n  .map(i => i.json)\n  .filter(m => m.role && m.content)\n  .reverse();\n\nconst messages = [\n  ...history.map(m => ({ role: m.role, content: m.content })),\n  { role: 'user', content: userText }\n];\n\nconst tools = [\n  {\n    name: 'manage_goal',\n    description: 'Create, update, or delete a 12-week goal. For update/delete, goal_id is required — call get_goals_overview first if you only have the title.',\n    input_schema: {\n      type: 'object',\n      properties: {\n        action: { type: 'string', enum: ['create', 'update', 'delete'] },\n        title: { type: 'string' },\n        description: { type: 'string' },\n        deadline: { type: 'string', description: 'ISO date YYYY-MM-DD' },\n        status: { type: 'string', enum: ['active', 'completed', 'paused'] },\n        progress_pct: { type: 'integer', minimum: 0, maximum: 100 },\n        goal_id: { type: 'string', description: 'UUID — required for update/delete' }\n      },\n      required: ['action']\n    }\n  },\n  {\n    name: 'log_progress',\n    description: 'Log a progress note against a goal. Use goal_id (UUID). log_type: progress (numeric update), milestone, note (vague update), status_change (when status changes).',\n    input_schema: {\n      type: 'object',\n      properties: {\n        goal_id: { type: 'string' },\n        log_type: { type: 'string', enum: ['progress', 'milestone', 'note', 'status_change'] },\n        content: { type: 'string' }\n      },\n      required: ['goal_id', 'log_type', 'content']\n    }\n  },\n  {\n    name: 'get_goals_overview',\n    description: 'Retrieve all active goals with progress. Call this to show goals OR to find a goal_id before updating/completing/deleting.',\n    input_schema: {\n      type: 'object',\n      properties: {}\n    }\n  },\n  {\n    name: 'save_memory',\n    description: 'Save something the user wants remembered across sessions.',\n    input_schema: {\n      type: 'object',\n      properties: {\n        content: { type: 'string' },\n        tags: { type: 'array', items: { type: 'string' } }\n      },\n      required: ['content']\n    }\n  },\n  {\n    name: 'search_memory',\n    description: 'Search saved memories by keyword.',\n    input_schema: {\n      type: 'object',\n      properties: {\n        query: { type: 'string' }\n      },\n      required: ['query']\n    }\n  },\n  {\n    name: 'web_search',\n    description: 'Search the web. Use sparingly — only when user explicitly asks.',\n    input_schema: {\n      type: 'object',\n      properties: {\n        query: { type: 'string' }\n      },\n      required: ['query']\n    }\n  }\n];\n\nreturn [{\n  json: {\n    tenant_id: tenant.id,\n    tenant_chat_id: chat_id,\n    system_prompt: systemPrompt,\n    messages: messages,\n    tools: tools,\n    user_text: userText\n  }\n}];"
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000008",
      "name": "Claude API — Tool Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1560, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-opus-4-5\",\n  \"max_tokens\": 1024,\n  \"system\": \"{{ $('Build Claude Messages').item.json.system_prompt }}\",\n  \"messages\": {{ JSON.stringify($('Build Claude Messages').item.json.messages) }},\n  \"tools\": {{ JSON.stringify($('Build Claude Messages').item.json.tools) }}\n}",
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000009",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst stopReason = response.stop_reason;\nconst buildData = $('Build Claude Messages').item.json;\n\nlet toolName = 'none';\nlet toolInput = {};\nlet toolUseId = null;\nlet textContent = '';\n\nif (stopReason === 'tool_use') {\n  const toolUseBlock = response.content.find(b => b.type === 'tool_use');\n  if (toolUseBlock) {\n    toolName = toolUseBlock.name;\n    toolInput = toolUseBlock.input;\n    toolUseId = toolUseBlock.id;\n  }\n} else {\n  const textBlock = response.content.find(b => b.type === 'text');\n  if (textBlock) textContent = textBlock.text;\n}\n\nreturn [{\n  json: {\n    stop_reason: stopReason,\n    tool_name: toolName,\n    tool_input: toolInput,\n    tool_use_id: toolUseId,\n    text_content: textContent,\n    full_response: response,\n    tenant_id: buildData.tenant_id,\n    tenant_chat_id: buildData.tenant_chat_id,\n    messages: buildData.messages,\n    system_prompt: buildData.system_prompt,\n    tools: buildData.tools,\n    user_text: buildData.user_text\n  }\n}];"
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000010",
      "name": "Route by Tool",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [2000, 300],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "manage_goal",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "manage_goal"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "log_progress",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "log_progress"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "get_goals_overview",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_goals_overview"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "save_memory",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "save_memory"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "search_memory",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "search_memory"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "web_search",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "web_search"
            }
          ]
        },
        "fallbackOutput": "extra",
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000011",
      "name": "Tool: manage_goal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 100],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst tenant_id = data.tenant_id;\nconst input = data.tool_input;\nconst action = input.action;\n\nlet method, url, body;\n\nif (action === 'create') {\n  method = 'POST';\n  url = `${$env.SUPABASE_URL}/rest/v1/goals`;\n  body = {\n    tenant_id,\n    title: input.title,\n    description: input.description || null,\n    deadline: input.deadline || null,\n    status: input.status || 'active',\n    progress_pct: input.progress_pct || 0\n  };\n} else if (action === 'update') {\n  method = 'PATCH';\n  url = `${$env.SUPABASE_URL}/rest/v1/goals?id=eq.${input.goal_id}`;\n  body = {};\n  if (input.title) body.title = input.title;\n  if (input.description) body.description = input.description;\n  if (input.deadline) body.deadline = input.deadline;\n  if (input.status) body.status = input.status;\n  if (input.progress_pct !== undefined) body.progress_pct = input.progress_pct;\n  body.updated_at = new Date().toISOString();\n} else if (action === 'delete') {\n  method = 'DELETE';\n  url = `${$env.SUPABASE_URL}/rest/v1/goals?id=eq.${input.goal_id}`;\n  body = null;\n}\n\nreturn [{ json: { ...data, _tool_method: method, _tool_url: url, _tool_body: body } }];"
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000012",
      "name": "HTTP: manage_goal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2440, 100],
      "parameters": {
        "method": "={{ $json._tool_method }}",
        "url": "={{ $json._tool_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._tool_body) }}",
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000013",
      "name": "HTTP: log_progress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2440, 220],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/goal_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"{{ $json.tenant_id }}\",\n  \"goal_id\": \"{{ $json.tool_input.goal_id }}\",\n  \"log_type\": \"{{ $json.tool_input.log_type }}\",\n  \"content\": \"{{ $json.tool_input.content }}\"\n}",
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000014",
      "name": "HTTP: get_goals_overview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2440, 340],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/goals?tenant_id=eq.{{ $json.tenant_id }}&status=eq.active&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000015",
      "name": "HTTP: save_memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2440, 460],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/memory",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"{{ $json.tenant_id }}\",\n  \"content\": \"{{ $json.tool_input.content }}\",\n  \"tags\": {{ JSON.stringify($json.tool_input.tags || []) }}\n}",
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000016",
      "name": "HTTP: search_memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2440, 580],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/memory?tenant_id=eq.{{ $json.tenant_id }}&content=ilike.*{{ $json.tool_input.query }}*&select=content,tags,created_at&order=created_at.desc&limit=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000017",
      "name": "HTTP: web_search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2440, 700],
      "parameters": {
        "method": "GET",
        "url": "=https://api.search.brave.com/res/v1/web/search?q={{ encodeURIComponent($json.tool_input.query) }}&count=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json" },
            { "name": "Accept-Encoding", "value": "gzip" },
            { "name": "X-Subscription-Token", "value": "={{ $env.BRAVE_API_KEY }}" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000018",
      "name": "Merge Tool Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 400],
      "parameters": {
        "jsCode": "// This node receives tool result from whichever tool branch ran\nconst item = $input.first().json;\n\n// Pass through all context plus the raw tool result\nreturn [{ json: item }];"
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000019",
      "name": "Build Second Claude Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 300],
      "parameters": {
        "jsCode": "const parseData = $('Parse Claude Response').item.json;\nconst toolResult = $input.first().json;\n\n// Build the extended messages array with tool_use and tool_result turns\nconst assistantToolUseMessage = {\n  role: 'assistant',\n  content: parseData.full_response.content\n};\n\n// Format tool result content\nlet toolResultContent;\ntry {\n  // toolResult might be array (Supabase returns arrays) or object\n  const rawResult = JSON.parse(JSON.stringify(toolResult));\n  // Remove internal _tool_* keys\n  const cleaned = Object.fromEntries(\n    Object.entries(rawResult).filter(([k]) => !k.startsWith('_tool_') && !['tenant_id','tenant_chat_id','messages','system_prompt','tools','user_text','tool_name','tool_input','tool_use_id','stop_reason','full_response','text_content'].includes(k))\n  );\n  toolResultContent = JSON.stringify(Array.isArray(rawResult) ? rawResult : cleaned);\n} catch (e) {\n  toolResultContent = String(toolResult);\n}\n\nconst toolResultMessage = {\n  role: 'user',\n  content: [\n    {\n      type: 'tool_result',\n      tool_use_id: parseData.tool_use_id,\n      content: toolResultContent\n    }\n  ]\n};\n\nconst messages = [\n  ...parseData.messages,\n  assistantToolUseMessage,\n  toolResultMessage\n];\n\nreturn [{\n  json: {\n    tenant_id: parseData.tenant_id,\n    tenant_chat_id: parseData.tenant_chat_id,\n    system_prompt: parseData.system_prompt,\n    tools: parseData.tools,\n    messages: messages,\n    user_text: parseData.user_text\n  }\n}];"
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000020",
      "name": "Claude API — Final Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [3100, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-opus-4-5\",\n  \"max_tokens\": 1024,\n  \"system\": \"{{ $json.system_prompt }}\",\n  \"messages\": {{ JSON.stringify($json.messages) }},\n  \"tools\": {{ JSON.stringify($json.tools) }}\n}",
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000021",
      "name": "Extract Final Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3320, 300],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst secondCallData = $('Build Second Claude Request').item.json;\n\nconst textBlock = response.content?.find(b => b.type === 'text');\nconst finalText = textBlock ? textBlock.text : 'Done.';\n\nreturn [{\n  json: {\n    tenant_id: secondCallData.tenant_id,\n    tenant_chat_id: secondCallData.tenant_chat_id,\n    response: finalText,\n    user_text: secondCallData.user_text,\n    messages: secondCallData.messages\n  }\n}];"
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000022",
      "name": "Send Telegram Reply (after tool)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [3540, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.tenant_chat_id }},\n  \"text\": \"{{ $json.response.replace(/\"/g, '\\\\\"') }}\",\n  \"parse_mode\": \"Markdown\"\n}",
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000023",
      "name": "Save User Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [3760, 260],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"{{ $json.tenant_id }}\",\n  \"role\": \"user\",\n  \"content\": \"{{ $json.user_text.replace(/\"/g, '\\\\\"') }}\"\n}",
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000024",
      "name": "Save Assistant Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [3760, 360],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"{{ $json.tenant_id }}\",\n  \"role\": \"assistant\",\n  \"content\": \"{{ $json.response.replace(/\"/g, '\\\\\"') }}\"\n}",
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000025",
      "name": "End Turn: Direct Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 480],
      "parameters": {
        "jsCode": "// Claude responded directly without a tool call — route to send reply\nconst data = $input.first().json;\nreturn [{\n  json: {\n    tenant_id: data.tenant_id,\n    tenant_chat_id: data.tenant_chat_id,\n    response: data.text_content,\n    user_text: data.user_text,\n    messages: data.messages\n  }\n}];"
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000026",
      "name": "Send Telegram Reply (direct)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2440, 480],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.tenant_chat_id }},\n  \"text\": \"{{ $json.response.replace(/\"/g, '\\\\\"') }}\",\n  \"parse_mode\": \"Markdown\"\n}",
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000027",
      "name": "Save User Message (direct)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2660, 440],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"{{ $json.tenant_id }}\",\n  \"role\": \"user\",\n  \"content\": \"{{ $json.user_text.replace(/\"/g, '\\\\\"') }}\"\n}",
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000028",
      "name": "Save Assistant Reply (direct)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2660, 540],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"{{ $json.tenant_id }}\",\n  \"role\": \"assistant\",\n  \"content\": \"{{ $json.response.replace(/\"/g, '\\\\\"') }}\"\n}",
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000029",
      "name": "Is /start?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 560],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "condition-is-start",
              "leftValue": "={{ $('Extract Message Data').item.json.text }}",
              "rightValue": "/start",
              "operator": { "type": "string", "operation": "startsWith" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000030",
      "name": "Onboarding State Machine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 500],
      "parameters": {
        "jsCode": "const chat_id = String($('Extract Message Data').item.json.chat_id);\nconst text = $('Extract Message Data').item.json.text;\n\n// Use workflow staticData to persist onboarding state\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.onboarding) staticData.onboarding = {};\n\nlet state = staticData.onboarding[chat_id] || { step: 0 };\nlet reply = '';\nlet done = false;\nlet tenantData = null;\n\nif (state.step === 0) {\n  // Fresh /start — ask for persona name\n  state.step = 1;\n  reply = \"Hey! I'm your accountability coach. What should I call myself? (e.g. Coach, Alex, Mentor)\";\n} else if (state.step === 1) {\n  // Received persona name\n  state.persona_name = text.trim();\n  state.step = 2;\n  reply = `Got it, I'll go by ${state.persona_name}. What tone do you prefer?\\n\\n1. Direct — Alex Hormozi style, no fluff\\n2. Warm — Encouraging and personal\\n3. Professional — Structured and neutral`;\n} else if (state.step === 2) {\n  // Received tone selection\n  const toneMap = { '1': 'direct', '2': 'warm', '3': 'professional', 'direct': 'direct', 'warm': 'warm', 'professional': 'professional' };\n  state.tone = toneMap[text.trim().toLowerCase()] || 'direct';\n  const twelveWeeks = new Date();\n  twelveWeeks.setDate(twelveWeeks.getDate() + 84);\n  const deadlineStr = twelveWeeks.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });\n  state.step = 3;\n  state.goals = [];\n  reply = `${state.tone.charAt(0).toUpperCase() + state.tone.slice(1)} it is.\\n\\nWhat's your first 12-week goal? Be specific — what's the outcome you want by ${deadlineStr}?`;\n} else if (state.step === 3) {\n  // Received first goal\n  state.goals.push(text.trim());\n  state.step = 4;\n  reply = 'Got it. Any other goals? (up to 2 more, or say \"done\" to continue)';\n} else if (state.step === 4) {\n  // Optionally collect more goals\n  if (text.trim().toLowerCase() === 'done' || state.goals.length >= 3) {\n    state.step = 5;\n    reply = 'What time do you usually start work? (e.g. 07:30)';\n  } else {\n    state.goals.push(text.trim());\n    if (state.goals.length >= 3) {\n      state.step = 5;\n      reply = 'What time do you usually start work? (e.g. 07:30)';\n    } else {\n      reply = `Added. Any more goals? (${3 - state.goals.length} remaining, or say \"done\")`;\n    }\n  }\n} else if (state.step === 5) {\n  // Received work start time — complete onboarding\n  state.work_start_time = text.trim();\n  done = true;\n\n  const goalsList = state.goals.map(g => `• ${g}`).join('\\n');\n  reply = `You're live.\\n\\nGoals set:\\n${goalsList}\\n\\nFirst briefing: tomorrow at ${state.work_start_time}\\nCheck-in: daily at 17:00\\n\\nSee you then.`;\n\n  tenantData = {\n    persona_name: state.persona_name,\n    tone: state.tone,\n    work_start_time: state.work_start_time,\n    goals: state.goals,\n    chat_id: chat_id\n  };\n\n  // Clear onboarding state\n  delete staticData.onboarding[chat_id];\n} else {\n  reply = 'Something went wrong with onboarding. Send /start to begin again.';\n  delete staticData.onboarding[chat_id];\n}\n\nif (!done) {\n  staticData.onboarding[chat_id] = state;\n}\n\nreturn [{\n  json: {\n    chat_id: parseInt(chat_id),\n    reply,\n    done,\n    tenant_data: tenantData\n  }\n}];"
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000031",
      "name": "Onboarding Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 500],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "condition-onboarding-done",
              "leftValue": "={{ $json.done }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000032",
      "name": "Create Tenant Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1780, 440],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/tenants",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"telegram_chat_id\": {{ $json.tenant_data.chat_id }},\n  \"name\": \"{{ $json.tenant_data.persona_name }}'s tenant\",\n  \"persona_name\": \"{{ $json.tenant_data.persona_name }}\",\n  \"tone\": \"{{ $json.tenant_data.tone }}\",\n  \"work_start_time\": \"{{ $json.tenant_data.work_start_time }}\",\n  \"checkin_time\": \"17:00\",\n  \"timezone\": \"Europe/Amsterdam\",\n  \"is_active\": true,\n  \"onboarded_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000033",
      "name": "Create Goal Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 440],
      "parameters": {
        "jsCode": "const tenantRow = $input.first().json[0] || $input.first().json;\nconst tenant_id = tenantRow.id;\nconst onboardingData = $('Onboarding State Machine').item.json;\nconst goals = onboardingData.tenant_data.goals;\n\nconst twelveWeeks = new Date();\ntwelveWeeks.setDate(twelveWeeks.getDate() + 84);\nconst deadline = twelveWeeks.toISOString().split('T')[0];\n\nconst goalRows = goals.map(title => ({\n  tenant_id,\n  title,\n  status: 'active',\n  progress_pct: 0,\n  deadline\n}));\n\nreturn [{ json: { tenant_id, goal_rows: goalRows, chat_id: onboardingData.chat_id, reply: onboardingData.reply } }];"
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000034",
      "name": "HTTP: Insert Goals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2220, 440],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/goals",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.goal_rows) }}",
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000035",
      "name": "Send Onboarding Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2440, 380],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $('Onboarding State Machine').item.json.chat_id }},\n  \"text\": \"{{ $('Onboarding State Machine').item.json.reply.replace(/\"/g, '\\\\\"') }}\"\n}",
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000036",
      "name": "Send Onboarding Step Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1780, 600],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.chat_id }},\n  \"text\": \"{{ $json.reply.replace(/\"/g, '\\\\\"') }}\"\n}",
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000037",
      "name": "Send Not Set Up Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1340, 700],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $('Extract Message Data').item.json.chat_id }},\n  \"text\": \"Send /start to get set up.\"\n}",
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000038",
      "name": "Handle Returning Tenant /start",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 380],
      "parameters": {
        "jsCode": "// Runs when tenant EXISTS — check if /start was sent again\nconst text = $('Extract Message Data').item.json.text;\nconst isStart = text.trim().startsWith('/start');\nconst tenantItems = $('Lookup Tenant').all();\nconst tenant = tenantItems[0]?.json;\n\nreturn [{ json: { _returning_start: isStart, chat_id: $('Extract Message Data').item.json.chat_id, tenant } }];"
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000039",
      "name": "Returning /start Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 380],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "condition-returning-start",
              "leftValue": "={{ $json._returning_start }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000040",
      "name": "Send Already Set Up Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1560, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.chat_id }},\n  \"text\": \"You're already set up. Use /help to see what I can do.\"\n}",
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000041",
      "name": "Check-in Reply Routing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200],
      "parameters": {
        "jsCode": "// Determine if this message is a check-in reply.\n// Conditions: tenant has checkin_sent_at today AND checkin_completed_at is null\n// AND message looks like a check-in reply (numbers, 'all', 'none').\n\nconst tenantLookupItems = $('Lookup Tenant').all();\nconst tenant = tenantLookupItems[0]?.json;\nconst userText = $('Extract Message Data').item.json.text?.trim().toLowerCase() || '';\n\nif (!tenant) {\n  return [{ json: { is_checkin_reply: false } }];\n}\n\n// Check if today's daily_priorities row has checkin_sent_at set but checkin_completed_at null\nconst today = new Date().toISOString().split('T')[0];\n\n// Look at the tenant's checkin status — we'll check Supabase in the next node\n// For now, determine if text pattern matches a check-in reply\nconst isNumberPattern = /^[\\d\\s,]+$/.test(userText); // e.g. \"1 3\", \"1,2,3\", \"2\"\nconst isAllNone = userText === 'all' || userText === 'none';\nconst looksLikeCheckin = isNumberPattern || isAllNone;\n\nreturn [{\n  json: {\n    tenant_id: tenant.id,\n    tenant_chat_id: tenant.telegram_chat_id,\n    tenant_tone: tenant.tone || 'direct',\n    persona_name: tenant.persona_name || 'Coach',\n    user_text: userText,\n    today,\n    looksLikeCheckin\n  }\n}];"
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000042",
      "name": "Get Today Priorities for Checkin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1340, 160],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/daily_priorities?tenant_id=eq.{{ $json.tenant_id }}&date=eq.{{ $json.today }}&checkin_sent_at=not.is.null&checkin_completed_at=is.null&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000043",
      "name": "Is Check-in Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 160],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-has-row",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000044",
      "name": "Parse Checkin Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 100],
      "parameters": {
        "jsCode": "const dailyRow = $input.first().json;\nconst checkinData = $('Check-in Reply Routing').item.json;\nconst userText = checkinData.user_text;\n\nconst priorities = dailyRow.priorities || [];\nconst total = priorities.length;\n\n// Parse the reply\nlet completedIndices = new Set();\n\nif (userText === 'all') {\n  for (let i = 0; i < total; i++) completedIndices.add(i);\n} else if (userText === 'none') {\n  // No indices — all false\n} else {\n  // Parse numbers like \"1 3\" or \"1,2,3\" or \"2\" — 1-indexed\n  const nums = userText.split(/[\\s,]+/).map(n => parseInt(n.trim(), 10)).filter(n => !isNaN(n));\n  nums.forEach(n => {\n    if (n >= 1 && n <= total) completedIndices.add(n - 1); // convert to 0-indexed\n  });\n}\n\n// Update priorities with completed flags\nconst updatedPriorities = priorities.map((p, i) => ({\n  ...p,\n  completed: completedIndices.has(i)\n}));\n\n// Calculate execution score: completed / total * 100, round to 1 decimal\nconst completedCount = completedIndices.size;\nconst executionScore = total > 0 ? Math.round((completedCount / total) * 1000) / 10 : 0;\n\n// Build acknowledgment message based on tone and score\nconst tone = checkinData.tenant_tone;\nconst persona = checkinData.persona_name;\nlet ackMessage;\n\nif (executionScore >= 80) {\n  if (tone === 'warm') {\n    ackMessage = `${completedCount}/${total} — that's a solid day. Keep building on that momentum.`;\n  } else if (tone === 'professional') {\n    ackMessage = `Execution: ${executionScore}%. ${completedCount}/${total} priorities completed. Strong result.`;\n  } else { // direct\n    ackMessage = `${completedCount}/${total}. Good. Keep that up.`;\n  }\n} else if (executionScore >= 50) {\n  if (tone === 'warm') {\n    ackMessage = `${completedCount}/${total} today. Progress. What will you close out tomorrow?`;\n  } else if (tone === 'professional') {\n    ackMessage = `Execution: ${executionScore}%. ${completedCount}/${total} priorities completed. Room to improve.`;\n  } else { // direct\n    ackMessage = `${completedCount}/${total}. Decent, not great. What's on the list tomorrow?`;\n  }\n} else {\n  // Below 50% — callout\n  const missedItems = updatedPriorities\n    .filter(p => !p.completed)\n    .map(p => p.text)\n    .slice(0, 2); // name at most 2 missed items\n  const missedText = missedItems.length > 0 ? ` You didn't do: ${missedItems.join(', ')}.` : '';\n\n  if (tone === 'warm') {\n    ackMessage = `${completedCount}/${total} today.${missedText} What got in the way, and what's the plan tomorrow?`;\n  } else if (tone === 'professional') {\n    ackMessage = `Execution: ${executionScore}%. ${completedCount}/${total} completed.${missedText} Plan corrections for tomorrow.`;\n  } else { // direct\n    ackMessage = `${completedCount}/${total}.${missedText} You said you'd do it. What's the plan tomorrow?`;\n  }\n}\n\nreturn [{\n  json: {\n    tenant_id: checkinData.tenant_id,\n    tenant_chat_id: checkinData.tenant_chat_id,\n    today: checkinData.today,\n    updatedPriorities,\n    executionScore,\n    completedCount,\n    total,\n    ackMessage\n  }\n}];"
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000045",
      "name": "Update Daily Priorities with Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2000, 100],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/daily_priorities?tenant_id=eq.{{ $json.tenant_id }}&date=eq.{{ $json.today }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"priorities\": {{ JSON.stringify($json.updatedPriorities) }},\n  \"execution_score\": {{ $json.executionScore }},\n  \"checkin_completed_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      }
    },
    {
      "id": "b0000001-0000-0000-0000-000000000046",
      "name": "Send Checkin Acknowledgment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2220, 100],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $('Parse Checkin Reply').item.json.tenant_chat_id }},\n  \"text\": \"{{ $('Parse Checkin Reply').item.json.ackMessage.replace(/\"/g, '\\\\\"') }}\"\n}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [
        [
          { "node": "Respond 200 Immediately", "type": "main", "index": 0 },
          { "node": "Extract Message Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          { "node": "Lookup Tenant", "type": "main", "index": 0 }
        ]
      ]
    },
    "Lookup Tenant": {
      "main": [
        [
          { "node": "Tenant Exists?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Tenant Exists?": {
      "main": [
        [
          { "node": "Handle Returning Tenant /start", "type": "main", "index": 0 }
        ],
        [
          { "node": "Is /start?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Handle Returning Tenant /start": {
      "main": [
        [
          { "node": "Returning /start Check", "type": "main", "index": 0 }
        ]
      ]
    },
    "Returning /start Check": {
      "main": [
        [
          { "node": "Send Already Set Up Reply", "type": "main", "index": 0 }
        ],
        [
          { "node": "Check-in Reply Routing", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check-in Reply Routing": {
      "main": [
        [
          { "node": "Get Today Priorities for Checkin", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Today Priorities for Checkin": {
      "main": [
        [
          { "node": "Is Check-in Reply?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is Check-in Reply?": {
      "main": [
        [
          { "node": "Parse Checkin Reply", "type": "main", "index": 0 }
        ],
        [
          { "node": "Get Conversation History", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse Checkin Reply": {
      "main": [
        [
          { "node": "Update Daily Priorities with Score", "type": "main", "index": 0 }
        ]
      ]
    },
    "Update Daily Priorities with Score": {
      "main": [
        [
          { "node": "Send Checkin Acknowledgment", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Conversation History": {
      "main": [
        [
          { "node": "Build Claude Messages", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Claude Messages": {
      "main": [
        [
          { "node": "Claude API — Tool Call", "type": "main", "index": 0 }
        ]
      ]
    },
    "Claude API — Tool Call": {
      "main": [
        [
          { "node": "Parse Claude Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          { "node": "Route by Tool", "type": "main", "index": 0 }
        ]
      ]
    },
    "Route by Tool": {
      "main": [
        [
          { "node": "Tool: manage_goal", "type": "main", "index": 0 }
        ],
        [
          { "node": "HTTP: log_progress", "type": "main", "index": 0 }
        ],
        [
          { "node": "HTTP: get_goals_overview", "type": "main", "index": 0 }
        ],
        [
          { "node": "HTTP: save_memory", "type": "main", "index": 0 }
        ],
        [
          { "node": "HTTP: search_memory", "type": "main", "index": 0 }
        ],
        [
          { "node": "HTTP: web_search", "type": "main", "index": 0 }
        ],
        [
          { "node": "End Turn: Direct Reply", "type": "main", "index": 0 }
        ]
      ]
    },
    "Tool: manage_goal": {
      "main": [
        [
          { "node": "HTTP: manage_goal", "type": "main", "index": 0 }
        ]
      ]
    },
    "HTTP: manage_goal": {
      "main": [
        [
          { "node": "Merge Tool Results", "type": "main", "index": 0 }
        ]
      ]
    },
    "HTTP: log_progress": {
      "main": [
        [
          { "node": "Merge Tool Results", "type": "main", "index": 0 }
        ]
      ]
    },
    "HTTP: get_goals_overview": {
      "main": [
        [
          { "node": "Merge Tool Results", "type": "main", "index": 0 }
        ]
      ]
    },
    "HTTP: save_memory": {
      "main": [
        [
          { "node": "Merge Tool Results", "type": "main", "index": 0 }
        ]
      ]
    },
    "HTTP: search_memory": {
      "main": [
        [
          { "node": "Merge Tool Results", "type": "main", "index": 0 }
        ]
      ]
    },
    "HTTP: web_search": {
      "main": [
        [
          { "node": "Merge Tool Results", "type": "main", "index": 0 }
        ]
      ]
    },
    "Merge Tool Results": {
      "main": [
        [
          { "node": "Build Second Claude Request", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Second Claude Request": {
      "main": [
        [
          { "node": "Claude API — Final Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Claude API — Final Response": {
      "main": [
        [
          { "node": "Extract Final Text", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract Final Text": {
      "main": [
        [
          { "node": "Send Telegram Reply (after tool)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Telegram Reply (after tool)": {
      "main": [
        [
          { "node": "Save User Message", "type": "main", "index": 0 },
          { "node": "Save Assistant Reply", "type": "main", "index": 0 }
        ]
      ]
    },
    "End Turn: Direct Reply": {
      "main": [
        [
          { "node": "Send Telegram Reply (direct)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Telegram Reply (direct)": {
      "main": [
        [
          { "node": "Save User Message (direct)", "type": "main", "index": 0 },
          { "node": "Save Assistant Reply (direct)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is /start?": {
      "main": [
        [
          { "node": "Onboarding State Machine", "type": "main", "index": 0 }
        ],
        [
          { "node": "Send Not Set Up Reply", "type": "main", "index": 0 }
        ]
      ]
    },
    "Onboarding State Machine": {
      "main": [
        [
          { "node": "Onboarding Complete?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Onboarding Complete?": {
      "main": [
        [
          { "node": "Create Tenant Row", "type": "main", "index": 0 }
        ],
        [
          { "node": "Send Onboarding Step Reply", "type": "main", "index": 0 }
        ]
      ]
    },
    "Create Tenant Row": {
      "main": [
        [
          { "node": "Create Goal Rows", "type": "main", "index": 0 }
        ]
      ]
    },
    "Create Goal Rows": {
      "main": [
        [
          { "node": "HTTP: Insert Goals", "type": "main", "index": 0 }
        ]
      ]
    },
    "HTTP: Insert Goals": {
      "main": [
        [
          { "node": "Send Onboarding Reply", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "pinData": {}
}
